USE [master]
GO
/****** Object:  Database [IoTCihazEnvanteri]    Script Date: 25.03.2026 20:29:49 ******/
CREATE DATABASE [IoTCihazEnvanteri]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IoTCihazEnvanteri', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER02\MSSQL\DATA\IoTCihazEnvanteri.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IoTCihazEnvanteri_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER02\MSSQL\DATA\IoTCihazEnvanteri_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IoTCihazEnvanteri].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IoTCihazEnvanteri]
GO
/****** Object:  Table [dbo].[Markalar]    Script Date: 25.03.2026 20:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Markalar](
	[MarkaID] [int] IDENTITY(1,1) NOT NULL,
	[MarkaAdi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MarkaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cihazlar]    Script Date: 25.03.2026 20:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cihazlar](
	[CihazID] [int] IDENTITY(1,1) NOT NULL,
	[MarkaID] [int] NULL,
	[Model] [nvarchar](50) NULL,
	[IP_Adresi] [nvarchar](15) NULL,
	[MAC_Adresi] [nvarchar](17) NULL,
	[YazilimVersiyonu] [nvarchar](20) NULL,
	[CihazAdi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CihazID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MAC_Adresi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zafiyetler]    Script Date: 25.03.2026 20:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zafiyetler](
	[ZafiyetID] [int] IDENTITY(1,1) NOT NULL,
	[CVE_Kodu] [nvarchar](20) NULL,
	[Aciklama] [nvarchar](max) NULL,
	[RiskPuani] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ZafiyetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CVE_Kodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZafiyetEslesme]    Script Date: 25.03.2026 20:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZafiyetEslesme](
	[EslesmeID] [int] IDENTITY(1,1) NOT NULL,
	[CihazID] [int] NULL,
	[ZafiyetID] [int] NULL,
	[TespitTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EslesmeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CihazZafiyetRaporu]    Script Date: 25.03.2026 20:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[CihazZafiyetRaporu] AS
SELECT 
    C.CihazID,
    C.CihazAdi,
    C.Model, 
    C.IP_Adresi, 
    M.MarkaAdi, 
    Z.CVE_Kodu, 
    Z.RiskPuani
FROM Cihazlar C
JOIN Markalar M ON C.MarkaID = M.MarkaID
JOIN ZafiyetEslesme ZE ON C.CihazID = ZE.CihazID
JOIN Zafiyetler Z ON ZE.ZafiyetID = Z.ZafiyetID;
GO
ALTER TABLE [dbo].[ZafiyetEslesme] ADD  DEFAULT (getdate()) FOR [TespitTarihi]
GO
ALTER TABLE [dbo].[Cihazlar]  WITH CHECK ADD FOREIGN KEY([MarkaID])
REFERENCES [dbo].[Markalar] ([MarkaID])
GO
ALTER TABLE [dbo].[ZafiyetEslesme]  WITH CHECK ADD FOREIGN KEY([CihazID])
REFERENCES [dbo].[Cihazlar] ([CihazID])
GO
ALTER TABLE [dbo].[ZafiyetEslesme]  WITH CHECK ADD FOREIGN KEY([ZafiyetID])
REFERENCES [dbo].[Zafiyetler] ([ZafiyetID])
GO
ALTER TABLE [dbo].[Zafiyetler]  WITH CHECK ADD CHECK  (([RiskPuani]>=(1) AND [RiskPuani]<=(10)))
GO
/****** Object:  StoredProcedure [dbo].[sp_CihazEkle]    Script Date: 25.03.2026 20:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CihazEkle]
    @MarkaID INT,
    @Model NVARCHAR(50),
    @IP NVARCHAR(15),
    @MAC NVARCHAR(17),
    @Versiyon NVARCHAR(20)
AS
BEGIN
    INSERT INTO Cihazlar (MarkaID, Model, IP_Adresi, MAC_Adresi, YazilimVersiyonu)
    VALUES (@MarkaID, @Model, @IP, @MAC, @Versiyon)
END;
GO
USE [master]
GO
